html,body,h1,h2,h3,h4,h5,h6,p,a,span,i,td,th,table,ul,ol,li,small,header,main,div,section{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    width: 100%;
}

header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color:rgba(255  , 255, 255, 0.8);
    color: #000;
    position: fixed;
}

#logo{
    font-weight: bold;
    justify-content: center;
    width: 20%;
    padding: 10px 15px;
}

header nav{
    width: 70%;
}

header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header li:hover{
    background-color: yellow;
}
header li{
    padding: 10px 15px;
    transition: all 0.3s;
}

#top-wrapper{
    height: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    color:white;
    align-items: center;
    background-image: url("../image/top.jpg");
}

#concept-wrapper h2{
    text-align: center;
    font-style: italic;
    font-weight: normal;
    padding-bottom: 10px;
}

#concept-wrapper p{
    margin: auto;
}
#concept-wrapper img{
    width: 100%;
    margin: 0 auto;
}
#concept-wrapper div{
    margin: auto;
    width: 100%;
}
#concept-wrapper{
    padding: 30px 0;
    width: 70%;
    margin: auto;
}

@media screen and (max-width:1000px){
    header nav{
        width: 75%;
    }
    #logo{
        width: 25%;
        text-align: center;
        padding: 20px 0px;
    }
}

@media screen and (max-width:480px){
    header nav{
        display: none;
    }
    #logo{
        width: 100%;
        text-align: center;
        padding: 20px 0px;
    }
}